<button
  [cdkCopyToClipboard]="'something triu'"
  (cdkCopyToClipboardCopied)="copied()"
>
  copy me
</button>

<cdk-accordion>
  <div *ngFor="let item of list; let index = index">
    <cdk-accordion-item #ele="cdkAccordionItem">
      <div
        [attr.aria-expanded]="ele.expanded"
        [attr.aria-control]="'item-body' + index"
        [attr.id]="'item' + index"
      >
        <h2>{{ item.name }}</h2>
        <button (click)="ele.toggle()">show/close</button>
      </div>
      <div
        [attr.id]="'item-body' + index"
        role="region"
        [style.display]="ele.expanded ? '' : 'none'"
      >
        details of this user is something
      </div>
    </cdk-accordion-item>
  </div>
</cdk-accordion>

<textarea
  cdkTextareaAutosize
  cdkAutosizeMinRows="3"
  cdkAutosizeMaxRows="6"
  placeholder="type..."
></textarea>

<div cdkTrapFocus cdkTrapFocusAutoCapture>
  focus
  <input id="testid"/>
</div>

<h1>{{ header1 }}</h1>
<button cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="openOverlay = !openOverlay">open overlay</button>
<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="openOverlay" cdkConnectedOverlayWidth="60%" (overlayClickOutside)="openOverlay = false">
 <div style="width: 300px; border: 1px solid red;">
  <h3>show some details</h3>
  <p>
    para is para. para is para. para is para. para is para. para is para. para
    is para. para is para.
  </p>
</div>
</ng-template>
<button #btnsample (click)="fetchUsers()">fetch users</button>

<ul >
  <li *ngFor="let user of usr$ | async">{{user.name}}</li>
</ul>

<b>{{usersLocal$ | async}}</b>
